body {
  font-family: "Montserrat", sans-serif;
  width: calc(100% - 2em);
  min-height: 100%;
  margin: 0;
  background-color: #333745;
  color: #f8f4f9;
  padding: 1em;
}

pre {
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

a,
a:active {
  color: inherit;
}
